/* ========================
    FOOTER
======================== */
footer {
  position: absolute;
  left: 50%;
  bottom: 24px;
  width: 100%;
  max-width: 260px;
  padding-top: rem(10);
  text-align: center;
  transform: translateX(-50%);
  border-top: 1px solid $gray-500;
}

footer p {
  @extend %content;

  font-weight: 600;
  color: $gray-500;
}
